*{
 margin:0;
 padding: 0;
 list-style: none;
 font-family: Arial, Helvetica, sans-serif;
  }

  .header__logo{
    background-color: #EFEFEF;
    height: 150px;
    display: flex;
    
    }
  
  .logoup{
    margin: 20px 0px 0px 100px;
    width: 350px;
    height: 80px; 
    
   
 }  
 
 .number{
    font-size:x-large;
    margin: 0px 0px ;
 }

 .header__ul{
    margin:50px 0px 0px 700px; ;
    display: flex;
    gap: 20px;
    
 }

.header__ico{
 height: 15px;
 width: 15px;
 margin-left: 10px;
}


.header__nav2{
    
    width: 100%;
}


.header__ul2{
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;

}

.header__li{
    font-size: large;
   
}

.header__li:hover{
    border-bottom: 3px solid #6BB308;}

    .header__menu2{
        padding:5px ;
        color: #EFEFEF;
        width:50px;
        height: 50px;
        background-color: #6BB308;
        position: relative;
        text-align: center;
        cursor: pointer;
    }


    .main{
       
    
   
}


 .main__span{
   
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    padding: 0px 0px 10px 150px;
   cursor: pointer;
    
 }

 .main__nav{
    margin: 5px 400px;
    
 }



.main__button{
 background-color:#6BB308;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
 
}



  