img{
    margin: 40px;
    width: 240px;
    }

.caja{
    
   margin: 10px 350px 0px;
    padding: 20px 30px;
    width: 400px;
}


.encima{
    margin: 10px 350px;
}


.titulo{
    margin: 0px 70px;
    font-size: xx-large;
}




    button{
        border-radius: 6px;
        background-color: #ffffff;
        border-color: darkgrey;
        color: rgb(92, 85, 85);
        padding: 10px 25px;
        text-align: center;
    }
